{% extends "base.html" %}
{% block content %}
    <h1>Company {{ company.id }}:</h1>
    <h3>Company_name:</h3>
    <h2>{{ company.name }}</h2>
    <h4>Employees number: {{ company.employees_number }}</h3>
    <h4>Vacancies counter: {{ company.vacancies_counter }}</h4>
    <h3>Open positions:</h3>
    {% if not vacancies %}
    <p>There aren't any vacancies.</p>
    {% else %}
        <table>
            <tr>
                <th>Name</th>
                <th>Company</th>
                <th>Level</th>
                <th>Experience</th>
                <th>Salary</th>
            </tr>
            {% for vacancy in vacancies %}
                <tr>
                    <td><a href="{% url 'specific_vacancy' vacancy.id %}">{{ vacancy.name }}</a></td>
                    <td><a href="{% url 'specific_company' company.id %}">{{ vacancy.company.name }}</a></td>
                    <th>{{ vacancy.level }}</th>
                    <th>{{ vacancy.experience }}</th>
                    {% if vacancy.min_salary and vacancy.max_salary %}
                        <td>{{ vacancy.min_salary }} - {{ vacancy.max_salary }} USD</td>
                    {% elif vacancy.min_salary and not vacancy.max_salary %}
                        <td>From {{ vacancy.min_salary }} USD</td>
                    {% elif not vacancy.min_salary and vacancy.max_salary %}
                        <td>Up to {{ vacancy.max_salary }} USD</td>
                    {% elif not vacancy.min_salary and not vacancy.max_salary %}
                        <td>Undisclosed salary</td>
                    {% endif %}
                </tr>
            {% endfor %}
    
        </table>
    {% endif %}
    <h3>Reviews:</h3>
    {% if not reviews %}
    <p>There aren't any reviews.</p>
    {% else %}
        {% for review in reviews %}
            <li>User: {{ review.user_name }} </li> 
            <em>{{ review.text }}</em><p>
            <!-- TODO: likes / dislikes + counter -->
        {% endfor %}
    {% endif %}
    <form action="{% url 'company-review' company.id %}" method="get">
        <button type="submit">Create review</button>
    </form>
    <p></p>
{% endblock %}