{% load static %}
    <header class="p-3 mb-3 border-bottom">
      <nav class="navbar navbar-expand-md navbar-white fixed-top bg-white">
        <div class="container-fluid">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 link-body-emphasis text-decoration-none">
            <img src="{% static 'img/logo.png' %}" width="32" height="28" class="bi">
          </a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav me-auto mb-2 mb-md-0">
              <li class="nav-item">
                <a class="nav-link active" aria-current="page" href="/">Home</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'company-list' %}">Companies</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add-vacancy' %}">Add Vacancy</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="{% url 'add-company' %}">Add Company</a>
              </li>
              
              <li class="nav-item">
                <a class="nav-link" href="#">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#">Your job responses</a>
              </li>
            </ul>
            <div class="dropdown text-end">
              <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                {% if user.photo %}
                    <img src="{{ user.photo.url }}"; width="32" height="32" class="rounded-circle">
                {% else %}
                    <img src="{% static 'img/no_photo.png' %}"; width="32" height="32" class="rounded-circle">
                {% endif %}
                <strong>{{ user.username }}</strong>
              </a>
              <ul class="dropdown-menu text-small">
                <li><a class="dropdown-item" href="">Profile</a></li>
                <li><a class="dropdown-item" href="">Edit profile</a></li>
                <li><hr class="dropdown-divider"></li>
                <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
    </header>
    <br>
    <div class="container">
      <button class="btn btn-light rounded-pill px-3" onclick="history.back()" type="button"><i class="bi bi-arrow-left-short"></i></button>